.cartProduct {
    height: 350px;
    width: 700px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #e2ddd5;
    border-radius: 10px;
    margin: 10px 0;
}
.cartProduct .left {
    height: 250px;
    flex: .3;
    min-width: 300px;
}
.cartProduct .left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cartProduct_btn {
    margin-top: 50px;
    font-size: .9rem;
    font-weight: bold;
    padding: 2px 5px;
    letter-spacing: 1px;
    background-color: rgb(223, 204, 37);
    outline: none;
}
.cartProduct_btn:hover {
    background-color: rgb(206, 138, 11);
}