.header{
    display: flex;
    float: none;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    background-color: #232f3e;
}
.fix__top {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.header__left{
    flex: .2;
    height: 60px;
    display: flex;
    position: static;
    float: none;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.header__left a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 166, 0);
    letter-spacing: 2px;

}
.header__mid {
    height: 40px;
    display: flex;
    position: static;
    float: none;
    flex: .6;
    margin: 0 10px;
}
.header__input{
    width: 100%;
    outline: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 3px;
    color: rgb(46, 45, 45);
}
.header__search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 153, 23);
    height: 40px;
    width: 45px;
    outline: none;
    border: none
}
.header__searchIcon {
    color: rgb(61, 60, 60);
    width: 100%;
    height: 70%;
}
.header__search:hover {
    background-color: rgb(196, 136, 8);
}
.header__right {
    display: flex;
    margin-right: 10px;
    height: 60px;
    width: auto;
    align-items: center;
    padding: 5px;
}
